<div class="datagraph" id="demo"></div>

<script>

  $(function() {
    new PG.DataGraph("#demo", "https://pganalyze.com/databases/1/data/table_size?table_id=2917422", {
      series: {
        "table_size": {
          name: "table size",
          renderer: "area"
        }
      }
    });
  });

</script>
