<div class="datagraph" id="demo"></div>

<script>

  $(function() {
    new PG.DataGraph("#demo", "https://pganalyze.com/databases/1/data/all_queries", {
      series: {
        "unclassified": {
          name: "unclassified",
          renderer: "line"
        },
        "OLTP": {
          name: "OLTP",
          renderer: "line"
        }
      }
    });
  });

</script>

