.datagraph {
  width: 600px;
  border: 2px solid #ccc;

  .datagraph__detail {
    height: 200px;
    border: 1px solid #0f0;
  }
  .datagraph__filters {
    height: 30px;
    border: 1px solid red;
  }
  .datagraph__overview {
    height: 50px;
    border: 1px solid blue;
  }
}
