body {
  font-family: Helvetica, Arial, sans-serif;
}

.datagraph {
  -webkit-font-smoothing: antialiased;
  width: 600px;
  margin: 30px auto;
  position: relative;

  .datagraph__loader {
    display: none;
    position: absolute;
    left: -5px;
    top: -5px;
    bottom: -5px;
    right: -5px;
    z-index: 3;
    background: #fff;
  }

  .datagraph__detail-loader {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 85px;
    right: 0;
    z-index: 3;
    background: rgba(255,255,255,.8);
  }

  .datagraph__loader-label {
    background: url(image_path("loading.gif")) left center no-repeat;
    height: 32px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: absolute;
    padding-left: 40px;
    line-height: 32px;
    top: 50%;
    margin-top: -32px/2;
    margin-left: 32px;
  }

  &.datagraph_loading {
    .datagraph__loader {
      display: block;
    }
  }

  &.datagraph_loading-details {
    .datagraph__detail-loader {
      display: block;
    }
  }

  .datagraph__detail {
    height: 200px;
  }
  .datagraph__datepickers {
    height: 40px;
    overflow: hidden;

    .datagraph__datepicker {
      border: 1px solid #222;
      border-right: 0;
      font-weight: bold;
      font-size: 11px;
      padding: 2px 5px;
      float: left;
      margin: 10px 0 0 0;
      cursor: pointer;

      &.datagraph__datepicker_first {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.datagraph__datepicker_last {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #222;
      }
    }
    .datagraph__datepicker_active {
      background: #424242;
      box-shadow: inset rgba(255, 255, 255, .4) 0 1px 1px;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.5);
    }
    .datagraph__calendar {
      border: 1px solid #222;
      float: right;
      margin: 10px 0 0 0;
      overflow: hidden;
      border-radius: 3px;
    }

    .datagraph__calendar-from,
    .datagraph__calendar-to {
      border: none;
      font-weight: bold;
      font-size: 11px;
      font-family: Helvetica, Arial, sans-serif;
      margin: 0;
      display: block;
      width: 65px;
      height: 18px;
      line-height: 19px;
      float: left;
      padding: 0 5px;
      text-align: center;
      position: relative;
      z-index: 1;
      background: transparent;
      -webkit-font-smoothing: antialiased;

      &:focus {
        outline: none;
        background: rgba(204,235,197,1);
      }
    }

    .datagraph__calendar_active {
      background: #424242;
      box-shadow: inset rgba(255, 255, 255, .4) 0 1px 1px;

      .datagraph__calendar-from,
      .datagraph__calendar-to,
      .datagraph__calendar-dash {
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.5);
      }
    }

    .datagraph__calendar-dash {
      float: left;
    }
  }
  .datagraph__overview {
    height: 50px;
    position: relative;

    .svg {
      z-index: 1;
      position: absolute;
    }
    .datagraph__brush {
      top: 0;
      left: 0;
      z-index: 2;
      width: 598px;
      height: 50px;
      position: absolute;
      cursor: move;
    }
  }
}

.brush-cover {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, .2);
  top: 0;
  height: 50px;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  background-color: #424242;
  border: 1px solid #222222;
  box-shadow: inset rgba(255, 255, 255, .4) 0 1px 1px;
  height: 56px;
  top: -4px;
  border-radius: 3px;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 6px;
  right: -5px;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 6px;
  left: -5px;
}

.ui-datepicker {
  width: 15em;
  padding: .2em .2em 0;
  display: none;
  background: #fff;
  border-radius: 5px;
  border: 2px solid rgba(66,66,66,1);
}
.ui-datepicker .ui-datepicker-header {
  position: relative;
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  position: absolute;
  top: 2px;
  width: 1.8em;
  height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
  top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
  left: 2px;
}
.ui-datepicker .ui-datepicker-next {
  right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
  left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
  right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  top: 50%;
  margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
  font-size: 1em;
  margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}
.ui-datepicker table {
  width: 100%;
  font-size: .9em;
  border-collapse: collapse;
  margin: 0 0 .4em;
}
.ui-datepicker th {
  padding: .7em .3em;
  text-align: center;
  font-weight: bold;
  border: 0;
}
.ui-datepicker td {
  border: 0;
  padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
  background-image: none;
  margin: .7em 0 0 0;
  padding: 0 .2em;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
  float: right;
  margin: .5em .2em .4em;
  cursor: pointer;
  padding: .2em .6em .3em .6em;
  width: auto;
  overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
  float: left;
}
