body {
  font-family: Helvetica, Arial, sans-serif;
}

.datagraph {
  -webkit-font-smoothing: antialiased;
  width: 600px;
  margin: 30px auto;

  .datagraph__detail {
    height: 200px;
  }
  .datagraph__datepickers {
    height: 40px;
    overflow: hidden;

    .datagraph__datepicker {
      border: 1px solid #222;
      border-right: 0;
      font-weight: bold;
      font-size: 11px;
      padding: 2px 5px;
      float: left;
      margin: 10px 0 0 0;
      cursor: pointer;

      &.datagraph__datepicker_first {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }
      &.datagraph__datepicker_last {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid #222;
      }
    }
    .datagraph__datepicker_active {
      background: #424242;
      box-shadow: inset rgba(255, 255, 255, .4) 0 1px 1px;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.5);
    }
    .datagraph__calendar {
      border: 1px solid #222;
      float: right;
      margin: 10px 0 0 0;
      overflow: hidden;
      border-radius: 3px;
    }
    .datagraph__calendar-from,
    .datagraph__calendar-to {
      border: none;
      font-weight: bold;
      font-size: 11px;
      font-family: Helvetica, Arial, sans-serif;
      margin: 0;
      display: block;
      width: 58px;
      height: 17px;
      line-height: 19px;
      float: left;
      padding: 0 5px;
      text-align: center;

      &:focus {
        outline: none;
      }
    }
    .datagraph__calendar-dash {
      float: left;
    }
  }
  .datagraph__overview {
    height: 50px;
    position: relative;

    .svg {
      z-index: 1;
      position: absolute;
    }
    .datagraph__brush {
      top: 0;
      left: 0;
      z-index: 2;
      width: 598px;
      height: 50px;
      position: absolute;
    }
  }
}

.brush-cover {
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, .2);
  top: 0;
  height: 50px;
}

.ui-resizable-handle {
  position: absolute;
  font-size: 0.1px;
  display: block;
  background-color: #424242;
  border: 1px solid #222222;
  box-shadow: inset rgba(255, 255, 255, .4) 0 1px 1px;
  height: 56px;
  top: -4px;
  border-radius: 3px;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-e {
  cursor: e-resize;
  width: 6px;
  right: -5px;
}
.ui-resizable-w {
  cursor: w-resize;
  width: 6px;
  left: -5px;
}
